<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
   <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MMS.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="SFTP_IP" value="127.0.0.1"/>
    <add key="SFTP_UserName" value="ASagheb"/>
    <add key="SFTP_Password" value="123456789"/>
    <add key="OrginalFilePath" value="D:\TempFile\IN\"/>
    <add key="ExportFilePath" value="/ExportFiles/"/>
    <add key ="AcceptorResponsePath" value ="/AcceptorResponse/"/>
  </appSettings>
    <connectionStrings>
        <add name="MMS.Service.Properties.Settings.CnnStr" connectionString="User Id=mmsv2;Password=mGhc0IsSvX8ONkuHvb9L;Server=mmsdb"
            providerName="Devart.Data.Oracle" />
    </connectionStrings>
    
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="MMS.Service.Assingment.AssingmentService">
        <endpoint address="" binding="basicHttpBinding" contract="MMS.Service.Assingment.IAssingmentService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/MMS.Service.Assingment/AssingmentService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAAAService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8003/AAA/AAAService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAAAService" contract="AAAService.IAAAService"
        name="BasicHttpBinding_IAAAService" />
    </client>
  </system.serviceModel>
  <userSettings>
    <MMS.Service.Properties.Settings>
      <setting name="EventViewerSourceName" serializeAs="String">
        <value>MMSSource</value>
      </setting>
      <setting name="EventViewerLogName" serializeAs="String">
        <value>MMSLog</value>
      </setting>
    </MMS.Service.Properties.Settings>
  </userSettings>
</configuration>
