<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICartableService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://172.16.11.82:9007/MMS/Cartable" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ICartableService" contract="CartableService.ICartableService"
                name="BasicHttpBinding_ICartableService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
